<div>
    <h3>{{ note.content }}</h3><p>Time posted {{ note.time }}</p><span class="button is-small is-primary" (click)='addHeartToNote(note?.hearts)'>Like</span> <span class="button is-small is-warning" (click)='addDislikeToNote(note?.dislike)'>Dislike</span> <span class="button is-small is-danger" (click)='deleteNote(note?.id)'>Delete</span>
    <br>
    <span class="button is-small is-info"><i class="fa fa-thumbs-up"> {{ note.hearts || 0 }}</i></span><span class="button is-small is-warning"><i class="fa fa-thumbs-down"> {{ note.dislike || 0 }}</i></span>
</div>